* {
  border-radius: 0 !important;
}

body{
    margin: 0;
    padding: 0;
    
}

.navbar.navbar-inverse {
    margin-bottom: 0;
    
}

.navbar-brand {
    color: #ccc;
}

section {
    background-color: #222;
    color: #ccc;
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 22px;
    letter-spacing: .25px;
}

#hero {
    background-image: url("img/john-paul-summers-261250.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: auto;
    padding: 0;
    
}

.initials {
    font-size: 10em;
    color: #470506;
    margin-top: 10%;
    margin-left: 5%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-shadow: 7px 5px 10px #15121B;
    opacity: .85;
        
}

.initials span {
    color: rgba(46,50,74, .7);
    
}

#about, #skills, #projects, #contact {
    padding: 60px 0 80px;
}

#about {
    background-color: #7C769A;
    color: #333;
    text-shadow: 1px 1px 4px #999;
}

#skills {
    padding-bottom: 110px;
}

.tech {
    margin-top: 50px;
}

.tech img, .tech2 img{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    
}

#projects {
    background-color: #545B86;
    color: #ccc;
    text-shadow: 1px 1px 2px #333;
}

.gallery {
    margin-top: 60px;
}

img.thumbnail {
    width: 320px;
    height: 204px;
    border: none;
    background-color: rgba(46,50,74, .2);
    
     
    
}

#contact p {
    text-align: center;
    
}

.contact-form {
    margin-top: 60px;
    padding-bottom: 130px;
}

.btn.btn-default {
    background-color: #7C769A;
}





    
